@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@385&display=swap');

html, body {
    font-family: 'Recursive', sans-serif;
}

h1, h2 {
    color: #555;
}


.content {
    padding-top: 0;
}
.franklin-content pre > code {
    border: 1px solid #6B8E2340;
    padding: 1.5em;
    border-radius: 0;
}
pre.code-output {
    background: #6B8E2340;
    padding-left: 0.5em;
}

.code-output code {
    border-radius: 0;
    padding-left: 1em !important;
    background: white;
}

.docstring {
    border: 1px solid #f1f1f1;
    padding: 1em;
    margin-bottom: 2em;
}

.franklin-content .docstring h2.doc-header {
    font-size: 1.25em;
    color: #008080;
    margin: 16px 0;
}

.franklin-content .docstring h1 {
    font-size: 1.2em;
}
.franklin-content .docstring h2 {
    font-size: 1em;
}

.docstring .doc-type {
    font-size: 1em;
    color: #6B8E2350;
    float: right;
}

.franklin-content h1 {
    margin-bottom: 0;
    font-size: 1.66em;
    border: none;
}
.franklin-content h2 {
    border: none;
    font-size: 1.33em;
    font-style: normal;
    font-weight: bold;
}

.sidebar-about h1 {
    font-family: 'Recursive', sans-serif;
}
