<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{if hasmath}} {{insert head_katex.html }}     {{end}}
    {{if hascode}} {{insert head_highlight.html }}   {{end}}
    <link rel="stylesheet" href="/css/franklin.css">
    <link rel="stylesheet" href="/css/tufte.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/latex.css">
    <link rel="stylesheet" href="/css/adjust.css"> <!-- sheet to overwrite some clashing styles -->
    {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>

<body>
    <h1>SymbolicUtils.jl</h1>
  <div id="layout">
    <div id="menu">
      <ul>
        <li><a href="/">Manual</a></li>
        <li><a href="/interface/">Interfacing</a></li>
        <li><a href="/api/">API</a></li>
      </ul>
    </div>
    <div id="main">


<!-- Content appended here -->
